@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Lato:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#e8e8e8, #cbcbcb);
  color: #d9e2f1;
  min-height: 100vh;
}

a {
  text-decoration: none;

}

input:active, input:focus {
  outline: none;
}

#main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 10%;
}

#main-header #title {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;

}

@media screen and (max-width: 768px) {
  #main-header {
    flex-direction: column;
    gap: 20px;
  }
}

#main-header #title img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  border-radius: 50%;
  border: 2px solid #0c0c0c;
}

#main-header button {
  font-size: 1.5rem;
  transform: translateY(4px);
  font-weight: bold;
  /*font-family: 'Lato', sans-serif;*/
}

h1 {
  /*font-family: 'Lato', sans-serif;*/
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: #0c0c0c;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#meals {
  width: 90%;
  max-width: 70rem;
  list-style: none;
  margin: 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: .7rem;
  row-gap: 2rem;
}

.meal-item {
  position: relative;
  background-color: #0c0c0c;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
  transition: all .3s;
}

.meal-item:hover {
  box-shadow: 7px 7px 3px rgba(0, 0, 0, 0.3);
  transform: translateY(-15px);
}

.meal-item article {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-item-sizes {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.meal-item-size {
  display: block;
  padding: 7px;
  background-color: #606060;
  border-radius: 8px;
  cursor: pointer;
  transition: all .2s;
}

.meal-item-size:hover {
  background-color: #3f3f3f;
  scale: 1.1
}

.selected-size {
  background-color: #3f3f3f
}

.meal-item img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.meal-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.75rem 0;
}

.meal-item-description {
  margin: 1rem;
}

.meal-item-price {
  display: inline-block;
  background-color: #606060;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
  margin: 0;
  border-radius: 4px;
}

.meal-item-actions {
  margin-bottom: 1.5rem;
}

.cart h2 {
  margin: 1rem 0;
}

.cart ul {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
  gap: 1rem;
}

.modal-empty-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.modal-empty {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.modal-wrapper {
  display: flex;
  gap: 20px;
}

.modal-actions button {
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding-block: 20px;

}

.modal-actions .text-button {
  color: #0c0c0c;
}

.modal-actions .text-button:hover,
.modal-actions .text-button:active {
  color: #312c1d;
}

.cart-title {
  font-size: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.cart-total {
  display: flex;
  justify-content: flex-end;
  margin: 2rem 0;
  font-size: 22px;
  font-weight: bold;
  color: #0c0c0c;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cart-item p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #0c0c0c;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart-image {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px #0c0c0c;

}

.cart-item p {
  margin: 0;
}

.cart-item-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-actions button {
  cursor: pointer;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 30px;
  border: none;
  background-color: #0c0c0c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-item-actions button:hover,
.cart-item-actions button:active {
  background-color: #1d1a16;
  color: #ffffff;
}

.control {
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.control input {
  width: 100%;
  min-height: 50px;
  border-radius: 20px;
  font: inherit;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.control-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.button {
  font: inherit;
  cursor: pointer;
  background: #0c0c0c;
  border: 1px solid #000000;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
  transition: all .2s;
}

.meal-item-actions button {
  background-color: #606060;
}

.button:hover,
.button:active {
  background-color: #2d2d2d;
  scale: 1.03
}

.text-button {
  font: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #0c0c0c;
}

.text-button:hover,
.text-button:active {
  color: #606060;
}

.modal {
  background-color: #ffffff;
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 80%;
  max-width: 40rem;
  animation: fade-slide-up 0.3s ease-out forwards;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.55);
}

.center {
  text-align: center;
}

.popup {
  position: absolute;
  top: 50%;
  right: 50%;
  min-width: 200px;
  transform: translate(50%, -90%);
  background-color: #333;
  color: white;
  padding-block: 30px;
  padding-inline: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 0; /* Начальная прозрачность */
  transform: translate(50%, -100%); /* Начальная позиция (немного выше) */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Анимация плавного появления */
}

.popup.show {
  opacity: 1; /* Прозрачность 100% */
  transform: translate(50%, -90%); /* Позиция окна */
}

.error {
  width: 90%;
  max-width: 25rem;
  margin: 2rem auto;
  padding: 1rem;
  background-color: #f9b8b8;
  color: #6d0b0b;
  border-radius: 6px;
}

.error h2 {
  margin: 0;
}

.error p {
  margin: 0;
}

.success {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.success h2 {
  font-size: 30px;
}

.success p:first-of-type {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.success-actions {
  width: 100%;
}

.success-actions button {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .modal-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modal-actions button {
    font-size: 15px;
  }

  .cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .cart-item-actions {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}